*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 93,75%;
  /* 15px / 16px (default) => 93,75% / defined what 1rem is */ }

body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  padding: 5rem 2rem;
  background-color: #F0F0FF;
  letter-spacing: 0.10625rem;
  background-image: url("../images/bg-top.svg");
  background-position: 11.875rem -1.875rem;
  background-repeat: no-repeat; }

.hidden {
  display: none; }

.header {
  margin-bottom: 4.375rem; }

.header__title {
  text-align: center;
  color: #6d708d; }

.header__pricing {
  font-size: 1.2rem;
  text-align: center;
  margin: 3.125rem 0; }
  .header__pricing::after {
    content: "";
    display: table;
    clear: both; }

.header__pricing--text {
  display: inline-block;
  color: #b3b5c6; }

/* ------ SWITCH ------ */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 3.75rem;
  height: 1.5625rem;
  margin: 0 0.3125rem; }
  .switch input {
    opacity: 0;
    width: 0;
    height: 0; }

/* The slider */
.switch {
  /* Rounded sliders */ }
  .switch--slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to right, #a3a8f0, #696fdd);
    -webkit-transition: 0.4s;
    transition: 0.4s; }
    .switch--slider:before {
      position: absolute;
      content: "";
      height: 1.125rem;
      width: 1.125rem;
      left: 0.25rem;
      bottom: 0.25rem;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s; }
  .switch--round {
    border-radius: 4.25rem; }
    .switch--round:before {
      border-radius: 50%; }

input:checked + .switch--slider:before {
  -webkit-transform: translateX(2.125rem);
  -ms-transform: translateX(2.125rem);
  transform: translateX(2.125rem); }

.box {
  padding: 2rem;
  text-align: center;
  border-radius: 0.625rem;
  margin-bottom: 3rem;
  box-shadow: #b3b5c6 0px 7px 29px 0px; }
  .box__basic, .box__master {
    background-color: #f6f6fe; }
  .box__pro {
    background-image: linear-gradient(to right bottom, #a3a8f0, #696fdd); }
  .box__text--grey {
    color: #6d708d; }
    .box__text--grey .box__text--price {
      color: #494c5f; }
  .box__text--white {
    color: #f6f6fe; }
  .box__text--price {
    font-size: 3rem;
    padding: 1.5rem 0; }
  .box__text--facts {
    border-top: 1px solid #b3b5c6;
    padding: 1.5rem 0; }
    .box__text--facts:last-child {
      border-bottom: 1px solid #b3b5c6; }

.btn {
  border: 1px solid transparent;
  padding: 1.25rem 0;
  display: inline-block;
  width: 100%;
  border-radius: 10px;
  margin-top: 3.125rem;
  text-decoration: none;
  font-size: 80%;
  transition: all 0.4s; }
  .btn--dark {
    position: relative;
    z-index: 1;
    background-image: linear-gradient(to right, #a3a8f0, #696fdd);
    background-repeat: no-repeat;
    color: #f6f6fe; }
    .btn--dark:hover {
      background-image: linear-gradient(to right, #f6f6fe, #f6f6fe);
      border: 1px solid #696fdd;
      color: #696fdd; }
  .btn--light {
    background-color: #f6f6fe;
    color: #696fdd; }
    .btn--light:hover {
      background-color: transparent;
      border: 1px solid #f6f6fe;
      color: #f6f6fe; }

.attribution {
  font-size: 0.6875rem;
  text-align: center;
  letter-spacing: 0; }

.attribution a {
  color: #3e52a3; }

@media only screen and (min-width: 471px) {
  body {
    background-position: 290px -30px; } }

@media only screen and (min-width: 576px) {
  body {
    background-position: 471px -30px; } }

@media only screen and (min-width: 681px) {
  body {
    padding: 4rem 3rem;
    background-image: url("../images/bg-top.svg"), url("../images/bg-bottom.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: 576px 0px, 0 500px; }
  .box {
    float: left;
    width: 32%;
    padding: 3%;
    font-size: 0.7rem;
    margin-bottom: 2%; }
    .box__basic {
      margin-left: 2%;
      border-radius: 10px 0 0 10px; }
    .box__pro {
      padding: 5% 3%;
      margin-top: -2%; }
    .box__master {
      border-radius: 0 10px 10px 0; }
    .box__text--facts {
      padding: 4% 0; }
    .box__text--price {
      font-size: 2rem; }
  .section__boxes::after {
    content: "";
    display: table;
    clear: both; }
  .btn {
    padding: 0.9375rem 0;
    margin-top: 1.5625rem; } }

@media only screen and (min-width: 818px) {
  body {
    background-position: 681px 0px, 0 500px; }
  .box__text--price {
    font-size: 2.5rem; } }

@media only screen and (min-width: 1024px) {
  body {
    background-position: 818px 0px, 0 500px; }
  .box__text--price {
    font-size: 3rem; } }

@media only screen and (min-width: 1147px) {
  body {
    background-position: 1024px 0px, 0 500px; } }

@media only screen and (min-width: 1400px) {
  body {
    background-position: 1147px 0px, 0 500px; } }
