// ------ VARIABLES ------ //
// Colors
$color-primary-gradient-light: hsl(236, 72%, 79%);
$color-primary-gradient-dark: hsl(237, 63%, 64%);
$color-very-light-grayish-blue: hsl(240, 78%, 98%);
$color-light-grayish-blue: hsl(234, 14%, 74%);
$color-grayish-blue: hsl(233, 13%, 49%);
$color-dark-grayish-blue: hsl(232, 13%, 33%);
$color-background: #f0f0ff;

// ------ BASIC SETUP ------ //
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 93.75%;
  /* 15px / 16px (default) => 93,75% / defines what 1rem is */
}

body {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  padding: 5rem 2rem;
  background-color: $color-background;
  letter-spacing: 0.10625rem;
}

// Hidden to display annually / monthly prices
.hidden {
  display: none;
}

// ------ MIXINS ------ //
@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

// ------ HEADER PRICING ------ //
.header {
  margin-bottom: 4.375rem;
}

.header__title {
  text-align: center;
  color: $color-grayish-blue;
}

.header__pricing {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  margin: 3.125rem 0;
}

.header__pricing--text {
  margin: 0 0.3rem;
  color: $color-light-grayish-blue;
}

/* ------ SWITCH ------ */
/* The switch - the box around the slider */
.switch {
  position: relative;
  width: 2.75rem;
  height: 1.5625rem;
  margin: 0 0.3125rem;

  & input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

/* The slider */
.switch {
  &--slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(
      to right,
      $color-primary-gradient-light,
      $color-primary-gradient-dark
    );
    -webkit-transition: 0.4s;
    transition: 0.4s;

    &:before {
      position: absolute;
      content: "";
      height: 1.125rem;
      width: 1.125rem;
      left: 0.25rem;
      bottom: 0.22rem;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }
  }
  /* Rounded sliders */
  &--round {
    border-radius: 4.25rem;

    &:before {
      border-radius: 50%;
    }
  }
}

input {
  &:checked + .switch--slider:before {
    -webkit-transform: translateX(1.125rem);
    -ms-transform: translateX(1.125rem);
    transform: translateX(1.125rem);
  }
}

// ------ BOX ------ //
.box {
  padding: 2rem;
  text-align: center;
  border-radius: 0.625rem;
  margin-bottom: 3rem;
  box-shadow: $color-light-grayish-blue 0px 7px 29px 0px;

  &__basic,
  &__master {
    background-color: $color-very-light-grayish-blue;
  }

  &__pro {
    background-image: linear-gradient(
      to right bottom,
      $color-primary-gradient-light,
      $color-primary-gradient-dark
    );
  }

  &__text {
    &--grey {
      color: $color-grayish-blue;

      & &--price {
        color: hsl(232, 13%, 33%);
      }
    }

    &--white {
      color: $color-very-light-grayish-blue;
    }

    &--price {
      font-size: 3rem;
      padding: 1.5rem 0;
    }

    &--facts {
      border-top: 1px solid $color-light-grayish-blue;
      padding: 1.5rem 0;

      &:last-child {
        border-bottom: 1px solid $color-light-grayish-blue;
      }
    }
  }
}
// ------ BUTTON ------ //

.btn {
  padding: 1.25rem 0;
  display: inline-block;
  width: 100%;
  border-radius: 10px;
  margin-top: 3.125rem;
  text-decoration: none;
  transition: all 0.4s;

  &--dark {
    position: relative;
    z-index: 1;
    background-image: linear-gradient(
      to right,
      $color-primary-gradient-light,
      $color-primary-gradient-dark
    );
    background-repeat: no-repeat;
    color: $color-very-light-grayish-blue;

    &:after {
      content: "";
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      background: $color-very-light-grayish-blue;
      z-index: -1;
      opacity: 0;
      border: 1px solid $color-primary-gradient-dark;
      color: $color-primary-gradient-dark;
      border-radius: 10px;
      transition: all 0.4s;
    }
    &:hover {
      color: $color-primary-gradient-dark;
    }
    &:hover:after {
      left: 0px;
      top: 0px;
      opacity: 1;
    }
  }

  &--light {
    background-color: $color-very-light-grayish-blue;
    color: $color-primary-gradient-dark;
    border: 1px solid transparent;

    &:hover {
      background-color: transparent;
      border: 1px solid $color-very-light-grayish-blue;
      color: $color-very-light-grayish-blue;
    }
  }
}

// ------ ATTRIBUTION ------ //
.attribution {
  font-size: 0.6875rem;
  text-align: center;
  letter-spacing: 0;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

// ------ MEDIA QUERIES ------ //

@media only screen and (min-width: 56.25em) {
  body {
    padding: 4rem 3rem;
    background-image: url("../images/bg-top.svg"),
      url("../images/bg-bottom.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: 110% 0, 0 550px;
  }

  .box {
    float: left;
    width: 32%;
    padding: 3%;
    font-size: 0.7rem;
    margin-bottom: 2%;

    &__basic {
      margin-left: 2%;
      border-radius: 10px 0 0 10px;
    }

    &__pro {
      padding: 5% 3%;
      margin-top: -2%;
    }

    &__master {
      border-radius: 0 10px 10px 0;
    }

    &__text {
      &--facts {
        padding: 4% 0;
      }

      &--price {
        font-size: 3rem;
      }
    }
  }

  .section__boxes {
    @include clearfix;
  }

  .btn {
    padding: 0.9375rem 0;
    margin-top: 1.5625rem;
  }
}
